@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

$font-main: "Roboto", sans-serif;
$fontSize10: 10px;
$fontSize12: 12px;
$fontSize14: 14px;
$fontSize16: 16px;
$fontSize20: 20px;
$fontSize22: 22px;
$fontSize24: 24px;
$fontSize25: 25px;
$fontSize30: 30px;
$fontSize32: 32px;
$fontSize40: 40px;
$fontSize44: 44px;
$fontSize56: 56px;
