@import "../../style/color.scss";
@import "../../style/fonts.scss";

.dashboard-wrapper {
  width: 280px;
  height: 100vh;
  background-color: $bg-dashboard;
  box-sizing: border-box;
  padding-top: 30px;

  .logo {
    font-family: $font-main;
    font-size: $fontSize20;
    color: $black;
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  ul {
    text-align: start;

    li {
      color: black;
      text-align: center;
      box-sizing: border-box;
      padding: 14px;
      font-size: $fontSize16;
    }
  }
  div {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  .btn {
    font-family: $font-main;
    font-size: $fontSize12;
    background-color: $green;
    color: $font-col-btn;
    outline: none;
    border: none;
    padding: 15px;
    text-transform: uppercase;
  }
  .icon {
    margin-right: 6px;
  }
}
