@import "./../../style/color.scss";
@import "./../../style/fonts.scss";

.board {
  width: calc(100% - 280px);
  overflow-x: auto;
  margin-right: 50px;

  .board-wrapper {
    width: 100%;
    display: flex;
    margin-top: 100px;
    margin-left: 50px;

    .channel-item {
      margin-right: 10px;
      width: 300px;
      background-color: red;

      .channel-title {
        background-color: $green;
        font-family: $font-main;
        font-size: $fontSize12;
        text-align: center;
        padding: 15px;
        text-transform: uppercase;
      }
    }
    .btn {
      font-family: $font-main;
      font-size: $fontSize12;
      background-color: $green;
      color: $font-col-btn;
      outline: none;
      border: none;
      padding: 15px;
      margin-left: 10px;
      text-transform: uppercase;
    }
  }
}
